@import "./scss/layout";
@tailwind base;
@tailwind components;
@tailwind utilities;

h2 { font-size: 30px; text-align: center; }

// *Header.jsx
header {
  @include set-box(40px);
  background: #000;
  position: relative;
  z-index: 999;

  .port {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
  }

  .nav {
    @include set-box(30px, 30px);
    background: #fff;
    position: absolute;
    top: 5px;

    .hamburger span {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      margin-left: 5px;
      margin-top: 7px;

      + span {
        margin-top: 5px;
      }
    }
    // .hamburger.on span:nth-child(1) {
    //   transform: rotate(-45deg);
    //   margin-top: 8px;
    // }
    // .hamburger.on span:nth-child(2) {
    //   transform: rotate(45deg);
    //   margin-top: -2px;
    // }
    // .hamburger.on span:nth-child(3) { opacity: 0; }
  }
}

// *Visual.jsx
.visual {
  @include set-box(100%);
  .dot_image {
    margin: auto;
    margin-top: 15rem;
    flex-direction: column;
  }
  // p {
  //   font-family: "bitbit";
  //   font-size: 60px;
  //   color: #fff;
  //   text-shadow: -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;
  // }
}

// *Profile.jsx
.profile {
  @include set-box(100%);
  

  .dot_image {
    position: absolute;
    bottom: 20rem;
    margin-top: 15rem;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
  }
}


// *Skills.jsx
.skills {
  border: 1px solid red;

  .skill_progress {
    width: 70%;
    margin: 50px auto;
    flex-direction: column;
    row-gap: 30px;
  }
}

// *Portfolio.jsx


// *Contact.jsx
.contact {
  @include set-box(100%);
  border: 1px solid red;
}