@import "./scss/layout";
@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-size: 30px;
  text-align: center;
}

.menu {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;

  .menu_ul {
    flex-direction: column;
    height: 100%;

    li {
      padding: 20px;
      font-size: 20px;
    }
  }
}

// *Header.jsx
header {
  @include set-box(40px);
  background: #000;
  position: fixed;
  z-index: 999;

  .port {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
  }

  .nav_wrap {
    @include set-box(100%, 98%);
    margin: auto;

    .nav {
      @include set-box(30px, 30px);
      background: #fff;
      position: absolute;
      top: 5px;
      cursor: pointer;

      .hamburger.on span:nth-child(1) {
        transform: rotate(-45deg);
        margin-top: 14px;
      }
      .hamburger.on span:nth-child(2) {
        transform: rotate(45deg);
        margin-top: -2px;
      }
      .hamburger.on span:nth-child(3) {
        opacity: 0;
      }
    }
  }
}

// *Visual.jsx
.visual {
  @include set-box(calc(100vh));
  background: url("../public/img/배경x2.png") 0 center;

  .inner {
    padding-top: 70px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
  .visual_title {
    display: flex;
    font-size: 6rem;
    font-family: bitbit;
    color: #fff;
    -webkit-text-stroke: 2.5px #000;
  }

  .dot_image {
    margin: auto;
    flex-direction: column;
  }
}

// *Profile.jsx
.profile {
  @include set-box(100%);
  .balloon {
    p {
      display: none;
    }
  }
  .dot_image {
    position: absolute;
    bottom: 20rem;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
  }
}

// *Skills.jsx
.skills {
  @include set-box(100%);

  // .skill_progress {
  //   width: 70%;
  //   margin: 50px auto;
  //   flex-direction: column;
  //   row-gap: 30px;
  // }
  .box_wrap {
    margin-top: 50px;
    margin-bottom: 50px;
    column-gap: 20px;
    .box {
      @include set-box(200px, 50rem);
      border-radius: 5px;
    }
    .text {
      padding: 20px;
      h4 {
        font-size: 24px;
      }
    }
  }
}

// *Portfolio.jsx
.portfolio {
  @include set-box(100%);

  .inner {
    padding-top: 100px;
  }
  .box_wrap {
    margin-bottom: 30px;
    column-gap: 10px;

    .box01 {
      background: url("../public/img/319shots_so.png") no-repeat;
      background-size: 100%;
    }
    .box02 {
      background: url("../public/img/904shots_so.png") no-repeat;
      background-size: 100%;
    }
    .box03 {
      background: url("../public/img/559shots_so.png") no-repeat;
      background-size: 100%;
    }
    .box04 {
      background: url("../public/img/455shots_so.png") no-repeat;
      background-size: 100%;
    }
    .box05 {
      background: url("../public/img/687shots_so.png") no-repeat;
      background-size: 100%;
    }
    .box06 {
      background: url("../public/img/226shots_so.png") no-repeat;
      background-size: 100%;
    }
    .box07 {
      background: url("../public/img/319shots_so.png") no-repeat;
      background-size: 100%;
    }
    .box08 {
      background: url("../public/img/319shots_so.png") no-repeat;
      background-size: 100%;
    }
  }
  // .modalContainer {
  //   /* 모달창 크기 */
  //   width: 100%;
  //   height: 100%;
  //   padding-top: 40px;

  //   /* 최상단 위치 */
  //   z-index: 998;

  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);

  //   /* 모달창 디자인 */
  //   background-color: #fff;
  //   border: 1px solid black;
  // }

  // .close {
  //   width: 50px;
  //   height: 50px;
  //   position: absolute;
  //   font-size: 30px;
  //   right: 20px;
  //   top: 50px;
  //   cursor: pointer;
  // }
}

// *Contact.jsx
.contact {
  @include set-box(100%);

  .dot_image {
    width: 300px;
    position: absolute;
    bottom: 20rem;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
  }

  .bubble {
    position: absolute;
    top: 15rem;
    right: 35rem;

    p {
      font-size: 20px;
    }
  }
}

// contact 반응형
@media (max-width: 1620px) {
  // *Contact.jsx
  .contact {
    .bubble {
      right: 30rem;

      p {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 1381px) {
  // *Contact.jsx
  .contact {
    .bubble {
      right: 20rem;

      p {
        font-size: 16px;
      }
    }
  }
}

// * tablet
@media #{$tablet} {
  .balloon {
    width: 80%;

    p {
      padding: 20px;
      font-size: 16px;
    }
  }

  // *Portfolio.jsx
  // .portfolio {
  //   .inner {
  //     padding-bottom: 150px;
  //   }
  //     .box_wrap {
  //       width: 100%;
  //       display: flex;
  //       justify-content: center;
  //       margin-bottom: 10px;
  //       row-gap: 10px;
  //       flex-wrap: wrap;

  //       .box {
  //         @include set-box(180px, 18rem);
  //         border: 2px solid #000;
  //         border-radius: 5px;

  //         .bar {
  //           background: #000;
  //           color: #fff;
  //           text-align: center;
  //         }
  //       }
  //   }
  // }

  // *portfolio 상세 페이지 안에서 사용
  .portfolio_content {
    color: #000;
    text-align: center;

    img {
      width: 90%;
      margin: 0 auto;
    }

    .inner {
      display: block;
      // justify-content: space-between;
      // align-items: center;

      .left {
        margin-top: 20px;
      }
    }
  }

  // *Contact.jsx
  .contact {
    @include set-box(100%);

    .bubble {
      position: absolute;
      top: 15rem;
      right: 11rem;

      p {
        font-size: 16px;
      }
    }
  }
}

// * mobile
@media #{$mobile} {
  .balloon {
    width: 90%;

    p {
      padding: 20px;
      font-size: 16px;
    }
  }

  // *Visual.jsx
  .visual {
    .inner {
      padding-top: 100px;
    }
    .visual_title {
      display: flex;
      font-size: 5rem;
      font-family: bitbit;
      color: #fff;
      -webkit-text-stroke: 2.5px #000;
    }

    .dot_image {
      margin: auto;
      margin-top: 30px;
      flex-direction: column;
    }
  }

  // *Profile.jsx
  .profile {
    .dot_image {
      position: absolute;
      bottom: 20rem;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // *Skills.jsx
  .skills {
    .box_wrap {
      flex-direction: column;
      row-gap: 10px;
      column-gap: 0px;
      margin-top: 0;
      margin-bottom: 10px;

      .box {
        @include set-box(160px, 100%);
        border-radius: 5px;
      }
      .text {
        padding: 10px;

        h4 {
          font-size: 20px;
        }
        ul {
          font-size: 14px;
        }
      }
    }
  }

  // *Portfolio.jsx
  .portfolio {
    @include set-box(100%);

    .box_wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      row-gap: 10px;
      flex-wrap: wrap;

      .box {
        @include set-box(180px, 18rem);
        border: 2px solid #000;
        border-radius: 5px;

        .bar {
          background: #000;
          color: #fff;
          text-align: center;
        }
      }
    }
  }

  // *portfolio 상세 페이지 안에서 사용
  .portfolio_content {
    color: #000;
    text-align: center;
    font-size: 12px;

    img {
      width: 90%;
      margin: 0 auto;
    }

    .inner {
      display: block;
      // justify-content: space-between;
      // align-items: center;

      .left {
        margin-top: 100px;
      }
    }
  }

  //   // ReactPortfolio.jsx
  //   .modalContainer {
  //     /* 모달창 크기 */
  //     width: 100%;
  //     height: 100%;
  //     padding-top: 40px;

  //     /* 최상단 위치 */
  //     z-index: 998;
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);

  //     /* 모달창 디자인 */
  //     background-color: #fff;
  //     border: 1px solid black;
  //   }

  //   .close {
  //     width: 50px;
  //     height: 50px;
  //     position: absolute;
  //     font-size: 30px;
  //     right: 20px;
  //     top: 50px;
  //     cursor: pointer;
  //   }
  // }
  // // 모달 버튼
  // .more_btn {
  //   height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .more {
  //     display: none;
  //     font-size: 14px;
  //   }

  //   &:hover {
  //     .more {
  //       display: block;
  //       border: 2px solid #000;
  //       border-radius: 3px;
  //       padding: 5px 7px;
  //     }
  //   }
  // }

  // *Contact.jsx
  .contact {
    @include set-box(100%);

    .bubble {
      position: absolute;
      top: 15rem;
      right: 5rem;

      p {
        font-size: 16px;
      }
    }
  }
}

@media #{$mini_mobile} {
  // *Skills.jsx
  .skills {
    @include set-box(100%);
    padding-bottom: 100px;

    .box_wrap {
      flex-direction: column;
      row-gap: 10px;
      column-gap: 0px;
      margin-top: 0;
      margin-bottom: 10px;

      .box {
        @include set-box(180px, 100%);
        border-radius: 5px;
      }
      .text {
        padding: 10px;

        h4 {
          font-size: 16px;
        }
        ul {
          font-size: 13px;
          // white-space: nowrap;
        }
      }
    }
  }

  // *Portfolio.jsx
  .portfolio {
    @include set-box(100%);
    padding-bottom: 100px;

    .box_wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      row-gap: 10px;
      flex-wrap: wrap;

      .box {
        @include set-box(180px, 18rem);
        border: 2px solid #000;
        border-radius: 5px;

        .bar {
          background: #000;
          color: #fff;
          text-align: center;
        }
      }
    }
  }

  // *portfolio 상세 페이지 안에서 사용
  .portfolio_content {
    color: #000;
    font-size: 12px;
    text-align: center;

    img {
      width: 90%;
      margin: 0 auto;
    }

    .inner {
      display: block;
      // justify-content: space-between;
      // align-items: center;

      .left {
        margin-top: 100px;
      }
    }
  }

  .contact {
    .bubble {
      right: 1rem;

      p {
        font-size: 16px;
      }
    }
  }
}

@media #{$mini_mobile} {
  // *Visual.jsx
  .visual {
    .inner {
      padding-top: 70px;
    }
    .visual_title {
      display: flex;
      font-size: 4rem;
      font-family: bitbit;
      color: #fff;
      -webkit-text-stroke: 2.5px #000;
    }

    .dot_image {
      margin: auto;
      flex-direction: column;
      width: 90%;
    }
  }

  // *Profile.jsx
  .profile {
    @include set-box(100%);

    .dot_image {
      position: absolute;
      bottom: 18rem;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // *Skills.jsx
  .skills {
    @include set-box(100%);
    padding-bottom: 100px;

    .inner {
      width: 100%;
    }
    .box_wrap {
      flex-direction: column;
      row-gap: 10px;
      column-gap: 0px;
      margin-top: 0;
      margin-bottom: 10px;

      .box {
        @include set-box(180px, 100%);
        border-radius: 5px;
      }
      .text {
        padding: 10px;

        h4 {
          font-size: 16px;
        }
        ul {
          font-size: 12px;
          // white-space: nowrap;
        }
      }
    }
  }

  // *Portfolio.jsx
  .portfolio {
    @include set-box(100%);
    padding-bottom: 100px;

    .inner {
      padding-top: 50px;
    }
    .box_wrap {
      width: 100%;
      margin-bottom: 10px;
      row-gap: 10px;
      flex-wrap: wrap;

      .box {
        @include set-box(180px, 18rem);
        border: 2px solid #000;
        border-radius: 5px;

        .bar {
          background: #000;
          color: #fff;
          text-align: center;
        }
      }
    }
  }

  // *portfolio 상세 페이지 안에서 사용
  .portfolio_content {
    color: #000;
    font-size: 12px;
    text-align: center;

    img {
      width: 90%;
      margin: 0 auto;
    }

    .inner {
      display: block;
      // justify-content: space-between;
      // align-items: center;

      .left {
        margin-top: 100px;
      }
    }
  }

  .contact {
    .dot_image {
      width: 50%;
      height: 12rem;
    }

    .bubble {
      display: none;

      p {
        font-size: 12px;
      }
    }
  }
}
