@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body, pre, code, kbd, samp {
  font-family: "DungGeunMo";
}

// height를 필수로 넣을 수 있도록 맨 앞에
@mixin set-box($height, $width: 100%, $border-radius: 0) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  width: 98%;
  height: 100%;
  margin: auto;
  padding: 50px;
}

.bottom_balloon {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  p {
    padding: 20px;
    font-size: 20px;
  }
  .tri {
    border-top: 10px solid #000;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: 10px;
  }

  &:hover { color: #666; }
}


.box {
  @include set-box(300px, 300px);
  border: 2px solid #000;
  border-radius: 5px;

  .bar {
    background: #000;
    color: #fff;
    text-align: center;
  }
}

.more_btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .more {
    display: none;
  }
  
  &:hover {
    .more {
      display: block;
      border: 2px solid #000;
      border-radius: 3px;
      padding: 7px 10px;
    }
  }
}