@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// 햄버거 메뉴 open시 스크롤 없애기
body.no_scroll {
  overflow: hidden !important
}
body::-webkit-scrollbar {
  width: 7px;  /* 스크롤바의 너비 */
  height: 7px;
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #000; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  // background: rgba(#000, 100%);
  background: #fff;
}

html, body, pre, code, kbd, samp {
  font-family: "DungGeunMo";
}

// 반응형 크기 지정
$mini_mobile: "(max-width: 500px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1200px)";
$pc: "(min-width: 1201px)";

// height를 필수로 넣을 수 있도록 맨 앞에
@mixin set-box($height, $width: 100%, $border-radius: 0) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inner {
  width: 98%;
  height: 100%;
  margin: auto;
  padding: 50px;
}

// .bubble {
  // position: relative;
  // border: 3px solid #000;
  // padding: 30px 50px;
  // border-radius: 5px;
// }
// .bubble::after {
//   content: "";
// 	position: absolute;
// 	border-style: solid;
// 	border-width: 16px 10px 0 0;
// 	border-color: #FFFFFF transparent;
// 	display: block;
// 	width: 0;
// 	z-index: 1;
// 	bottom: -16px; 
// 	left: 40px; 
// }
// .bubble::before {
// 	content: "";
// 	position: absolute;
// 	border-style: solid;
// 	border-width: 16px 10px 0 0px;
// 	border-color: #000 transparent;
// 	display: block;
// 	width: 0;
// 	z-index: 0;
// 	bottom: -16px;
// 	left: 40px;
// }

.hamburger span {
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  margin-left: 5px;
  margin-top: 7px;

  + span {
    margin-top: 5px;
  }
}

.balloon {
  width: 70%;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #000;
  padding: 20px;
  border-radius: 5px;
  background: #fff;

  p {
    padding: 20px;
    font-size: 20px;
  }
  // &:hover { color: #666; }
}
.tri {
  border-top: 10px solid #000;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: 10px;
}


.box {
  @include set-box(300px, 100rem);
  border: 2px solid #000;
  border-radius: 5px;

  .bar {
    background: #000;
    color: #fff;
    text-align: center;
  }
}

.more_btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -22px;
  
  .more {
    display: none;
  }
  
  &:hover {
    background: rgba($color: #000, $alpha: .5);
    .more {
      display: block;
      border: 2px solid #fff;
      color: #fff;
      border-radius: 3px;
      padding: 7px 10px;
    }
  }
}